.btn-small {
  transform: scale(0.7);
}

button {
  border: none;
  text-align: left;
  padding: ($column-padding / 2) $column-padding ($column-padding / 1.5);
  @include fade(0.1s);
  &:hover {
    cursor: pointer;
    text-shadow: 0 0 3px rgba($dark, 0.3);
    font-size: 101%;
  }
  &.block-btn {
    display: block;
    background: rgba($silver, 0.05);
    @include boxshadow(0.3);
    width: 100%;
  }
  &.add-card {
    color: $dark;
  }
}

.btn-floating-corner {
  position: absolute;
  top: ($column-padding / 2);
  right: $column-padding;
}
.btn-floating-right {
  justify-self: end;
}

.btn-danger {
  background: rgba($red, 0.7) !important;
  & i {
    color: $white !important;
  }
  &:hover {
    background: rgba($red, 1) !important;
    & i {
      color: $white !important;
    }
  }
}

.btn-success {
  border: 0.5px solid rgba($dark, 0.5);
  background: rgba($green, 0) !important;
  & i {
    @include fade(0.2s);
    color: rgba($dark, 0.3);
  }
  &:hover {
    border: 0.5px solid rgba($dark, 1);
    & i {
      color: rgba($dark, 0.7) !important;
      transform: scale(1.1);
    }
  }
}

.btn-delete {
  border: none !important;
  box-shadow: none;
  display: none;
  color: rgba($red, 0.7) !important;
  & i {
    font-size: 2rem;
  }
  &:hover {
    color: rgba($red, 1) !important;
    box-shadow: none !important;
    & i {
      color: rgba($red, 1) !important;
    }
  }
}

.fixed-action-btn {
  position: fixed;
  top: 10px;
  height: max-content;
}
