$border-radius: 2.5px;

$font: 'Montserrat';
$light: 300;
$normal: 400;
$bold: 700;

$silver: #dadfe1;
$light: #ecf0f1;
$white: #ffffff;
$blue: #3498db;
$dark: #22313f;
$red: #f22613;
$green: #019875;
$yellow: darken(#e67e22, 10);

$column-padding: 1rem;
